<div class="commons-component">
    <h1 class="main-header">Dream Cars</h1>
    <hr>
    <div class="card mb-3 mx-auto" style="max-width: 50%;" *ngFor="let car of cars">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a [routerLink]="['car', car.id]">
                    <img class="card-img" src="{{car.imageURL}}" alt="{{car.brand}} {{car.model}}">
                </a>
            </div>
            <div class="col-md-8">
                <div class="pl-3">
                    <h5 class="card-title pt-2"><a [routerLink]="['car', car.id]">{{car.brand}} {{car.model}}</a></h5>
                    <p class="card-text">
                        Power: {{car.power}} bhp
                        <br>
                        Top speed: {{car.topSpeed}} Km/h
                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>