<div class="commons-component">
    <h1 class="main-header">Dream Cars</h1>
    <hr class="main-hr">
    <div class="card p-3 mx-auto" style="width: 50%">
        <img class="card-img-top mb-3 car-details-img" src="{{car.imageURL}}" alt="{{car.brand}} {{car.model}}">
        <h2 class="card-title text-center">{{car.brand}} {{car.model}}</h2>
        <hr>
        <div>Year: {{car.year}}</div>
        <div>Power: {{car.power}} bhp</div>
        <div>Top speed: {{car.topSpeed}} Km/h</div>
        <div>Acceleration (0-100 Km/h): {{car.acceleration}} s.</div>
        <button class="btn btn-primary mt-3" (click)="onGoBack()">Back</button>
    </div>
</div>