html {
    background-color: #222831;
}

.main-header {
    font-family: 'Fenix', serif;
    font-size: 4rem;
    padding-top: 1rem;
    text-align: center;
}

.commons-component {
    background-color: #222831;
    color: #3f72af;
}
